@use "../../Theme" as theme;

:host {
  position: fixed;
  top: 25px;
  transition: all 200ms ease-in-out;

  h6 {
    user-select: none;
    cursor: pointer;
    font-weight: 300;
    text-indent: 10px;
    transition: all 100ms ease-out;

    &:hover {
      background-color: theme.$tertiary;
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  gap: 3px;
  background-color: theme.$primary;
  border-radius: 10px;
  color: theme.$secondary;
  padding: 5px 0px;
  height: auto;
  width: 100px;
}
