<div class="page">
  <h1>Settings</h1>
  <div class="setting-list">
    <ul>
      <li>
        <h4>Search Engine</h4>
        <cuik-custom-select
          [values]="engines"
          [default]="defaultEngine"
          (update)="updateSearchEngine($event)"
        ></cuik-custom-select>
      </li>
      <li>
        <h4>Email Service</h4>
        <cuik-custom-select
          [values]="mails"
          [default]="defaultEmail"
          (update)="updateEmailService($event)"
        ></cuik-custom-select>
      </li>
    </ul>
  </div>
</div>
