@use '../../theme' as theme;

.page {
  display: flex;
  main {
    height: calc(100vh - 66px);
    width: calc(100vw - 66px);
    display: flex;
    gap: 10px;
    padding: 10px;
  }
}

cuik-app-creator,
cuik-app-editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: theme.$secondary, $alpha: 0.05);
}

@media screen and (max-width: 775px) {
  .page main {
    width: 100vw;
  }
}
