<cuik-nav (signOut)="signOut()"></cuik-nav>
<div class="page">
  <cuik-side-panel></cuik-side-panel>
  <main>
    <cuik-app-icon
      *ngFor="let app of appData; let i = index"
      [app-data]="app"
      [index]="i"
    ></cuik-app-icon>
  </main>
</div>
<cuik-app-creator
  (closeCreate)="state.creatorToggle = !state.creatorToggle"
  *ngIf="state.creatorToggle"
></cuik-app-creator>
<cuik-app-editor
  (closeTab)="state.editorToggle = !state.editorToggle"
  *ngIf="state.editorToggle"
  [apps]="appData"
>
</cuik-app-editor>
<cuik-settings *ngIf="state.activeControl == 'setting'"></cuik-settings>
