<header>
  <img
    src="../../../assets/cuiksuite.png"
    alt="Logo"
    height="66"
    class="logo"
    (click)="openSite()"
  />
  <h1>Welcome {{ authService.DisplayName }} (Beta!)</h1>
  <div class="controls">
    <div class="plus-btn" (click)="state.creatorToggle = !state.creatorToggle">
      <div class="top"></div>
      <div class="right"></div>
      <div class="bottom"></div>
      <div class="left"></div>
    </div>
    <div class="profile">
      <img
        [src]="authService.PhotoURL || '../../../assets/account.png'"
        alt="Profile Image"
        width="50"
        height="50"
        (click)="state.accountToggle = !state.accountToggle"
      />
      <div class="account-panel" *ngIf="state.accountToggle">
        <ul>
          <li class="dash" (click)="goToDash()">
            <span>Dashboard</span>
          </li>
          <li class="sign-out" (click)="authService.SignOut()">
            <span>Log out</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="page">
  <cuik-side-panel></cuik-side-panel>
  <main>
    <cuik-app-icon *ngFor="let app of appData" [app-data]="app"></cuik-app-icon>
  </main>
</div>
<cuik-app-creator
  (close)="state.creatorToggle = !state.creatorToggle"
  *ngIf="state.creatorToggle"
></cuik-app-creator>
<cuik-app-editor
  (close)="state.editorToggle = !state.editorToggle"
  *ngIf="state.editorToggle"
>
</cuik-app-editor>
