<div
  #panel
  class="panel {{ theme.currentTheme | async }}"
  (mousemove)="$event.preventDefault()"
  (mouseup)="desktop.mouseUp($event)"
  (click)="desktop.focusApp(props.id)"
  [ngStyle]="{ visibility: props.isMinimized ? 'hidden' : 'visible' }"
>
  <div class="header">
    <div
      class="move"
      (mousedown)="mouseDown($event)"
      (mouseup)="moveStart($event)"
    >
      {{ props.title || "Root" }}
    </div>
    <svg
      (click)="state.unminimizeApp(props.id)"
      viewBox="0 0 17 2"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M16 1L1 1"
        stroke="url(#paint0_linear_115:136)"
        stroke-width="2"
        stroke-linecap="round"
      />
      <defs>
        <linearGradient
          id="paint0_linear_115:136"
          x1="1"
          y1="1"
          x2="16"
          y2="1"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-opacity="0.9" />
          <stop offset="0.461458" stop-opacity="0.71" />
          <stop offset="1" />
        </linearGradient>
      </defs>
    </svg>
    <svg
      (click)="maximize()"
      viewBox="0 0 26 19"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="7"
        y="1"
        width="18"
        height="11"
        rx="2"
        stroke="url(#paint0_linear_301:2)"
        stroke-width="2"
      />
      <rect
        x="1"
        y="7"
        width="18"
        height="11"
        rx="2"
        stroke="url(#paint1_linear_301:2)"
        stroke-width="2"
      />
      <defs>
        <linearGradient
          id="paint0_linear_301:2"
          x1="16"
          y1="0"
          x2="16"
          y2="13"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-opacity="0.9" />
          <stop offset="0.461458" stop-opacity="0.71" />
          <stop offset="1" />
        </linearGradient>
        <linearGradient
          id="paint1_linear_301:2"
          x1="10"
          y1="6"
          x2="10"
          y2="19"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#0F3057" stop-opacity="0.9" />
          <stop offset="0.461458" stop-color="#0F3057" stop-opacity="0.71" />
          <stop offset="1" stop-color="#0F3057" />
        </linearGradient>
      </defs>
    </svg>
    <svg
      (click)="state.closeApp(props)"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line
        x1="2"
        y1="17.5564"
        x2="17.5563"
        y2="2.00007"
        stroke="#A72828"
        stroke-opacity="0.93"
        stroke-width="3"
        stroke-linecap="round"
      />
      <line
        x1="2.12132"
        y1="2"
        x2="17.6777"
        y2="17.5563"
        stroke="#A72828"
        stroke-opacity="0.93"
        stroke-width="3"
        stroke-linecap="round"
      />
    </svg>
  </div>
  <div class="tool-bar {{ isToolBarOpen ? 'open' : '' }}">
    <div class="tool-header">
      <svg viewBox="0 0 330 330" (click)="isToolBarOpen = !isToolBarOpen">
        <path
          [ngClass]="{ open: isToolBarOpen }"
          id="XMLID_225_"
          d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
      c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
      s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"
        />
      </svg>
    </div>
    <app-file-explorer-tool-bar
      [class]="theme.currentTheme | async"
    ></app-file-explorer-tool-bar>
  </div>
  <div
    class="main {{ isToolBarOpen ? 'open' : '' }}"
    [ngClass]="{ focused: (desktop.focusedApp | async) === props.id }"
  >
    <div class="sidebar">
      <div class="pinned">
        <h4>Main</h4>
        <button (click)="goto('favorites/')">Favorites</button>
        <button (click)="goto('photos/')">Photos</button>
        <button (click)="goto('videos/')">Videos</button>
        <button (click)="goto('documents/')">Documents</button>
        <button (click)="goto('shared/')">Shared</button>
        <button (click)="goto('trash/')">Trash</button>
      </div>
      <div class="drives">
        <h4>Drives</h4>
        <button *ngFor="let drive of drives" (click)="goto(drive + '/')">
          Drive {{ drive }}
        </button>
      </div>
    </div>
    <div class="explorer">
      <app-breadcrumbs
        [path]="props.path ?? ''"
        (pathChange)="goto($event.join('/') + '/')"
        (reload)="reload()"
      ></app-breadcrumbs>
      <div
        class="files"
        #files
        (click)="
          windowUtil.isTarget($event, files)
            ? closeAll()
            : $event.preventDefault()
        "
        (contextmenu)="
          windowUtil.isTarget($event, files) && props.path !== ''
            ? openOptions($event, 'none')
            : $event.preventDefault()
        "
      >
        <app-folder
          *ngFor="let folder of currentFolders"
          [props]="folder"
          [rename]="renamingName === folder.folderName + '/'"
          [selected]="selectedNames.includes(folder.folderName + '/')"
          (openFolder)="goto(props.path + $event + '/')"
          (selectFolder)="select($event)"
          (renameFolder)="renameFolder($event)"
          (cancel)="renamingName = ''"
          (contextmenu)="
            rightClickOn(folder.folderName + '/'); openOptions($event, 'folder')
          "
        ></app-folder>
        <app-file
          *ngFor="let file of currentFiles"
          [props]="file"
          [rename]="renamingName === file.fileName"
          [selected]="selectedNames.includes(file.fileName)"
          (selectFile)="select($event)"
          (renameFile)="renameFile($event)"
          (cancel)="renamingName = ''"
          (contextmenu)="
            rightClickOn(file.fileName); openOptions($event, 'file')
          "
        ></app-file>
        <app-new-folder
          *ngIf="isNewFolderOpen"
          appCloseOnUnfocus
          [unFocusCondition]="isNewFolderOpen"
          [delay]="100"
          (unFocus)="isNewFolderOpen = false"
          (create)="newFolder($event)"
        ></app-new-folder>
      </div>
      <app-options-menu
        *ngIf="isOptionsOpen && props.path !== ''"
        appCloseOnUnfocus
        [unFocusCondition]="isOptionsOpen"
        (unFocus)="isOptionsOpen = false"
        [style.top]="desktop.mouseYPosClick - getTop() + 'px'"
        [style.left]="desktop.mouseXPosClick - getLeft() + 'px'"
      >
        <ng-container *ngIf="optionsType === 'none'">
          <div
            class="menu-button"
            (click)="isUploadOpen = true; isOptionsOpen = false"
          >
            Upload
          </div>
          <div
            class="menu-button"
            (click)="isNewFolderOpen = true; isOptionsOpen = false"
          >
            New Folder
          </div>
          <div class="menu-button">New App</div>
          <hr />
          <div class="menu-button">Select All</div>
          <div class="menu-button">Unselect All</div>
          <div class="menu-button">Paste</div>
        </ng-container>
        <ng-container
          *ngIf="optionsType === 'folder' || optionsType === 'file'"
        >
          <div
            class="menu-button"
            *ngIf="selectedNames.length === 1"
            (click)="open()"
          >
            Open
          </div>
          <div class="menu-button" (click)="downloadSelected()">Download</div>
          <hr />
          <div
            class="menu-button"
            (click)="rename(); isOptionsOpen = false"
            *ngIf="selectedNames.length === 1"
          >
            Rename
          </div>
          <div class="menu-button">Copy</div>
          <div class="menu-button" *ngIf="selectedNames.length === 1">
            Copy Path
          </div>
          <div class="menu-button">Cut</div>
          <div
            class="menu-button"
            (click)="deleteSelected(); isOptionsOpen = false"
          >
            Delete
          </div>
          <hr />
          <div class="menu-button">Move to</div>
          <div class="menu-button">Copy to</div>
          <div class="menu-button">Share</div>
        </ng-container>
      </app-options-menu>
    </div>
  </div>

  <div class="expand-right" (mousedown)="mouseDown($event, 'r')"></div>
  <div class="expand-down" (mousedown)="mouseDown($event, 'd')"></div>
  <div class="expand-both" (mousedown)="mouseDown($event, 'b')"></div>
  <div
    class="uploads"
    *ngIf="isUploadOpen"
    appCloseOnUnfocus
    [unFocusCondition]="isUploadOpen"
    [delay]="100"
    (unFocus)="isUploadOpen = false"
  >
    <label for="files1">
      <input
        multiple
        webkitdirectory
        directory
        id="files1"
        #files1
        (change)="upload(files1)"
        type="file"
        [disabled]="isUploading"
      /><span
        >Click to Choose Folders
        {{
          isUploading ? "(" + (percentDone | number: "2.1-2") + "%)" : ""
        }}</span
      ></label
    >
    <label for="files2">
      <input
        multiple
        id="files2"
        #files2
        (change)="upload(files2)"
        type="file"
        [disabled]="isUploading"
      /><span
        >Click to Choose Files
        {{
          isUploading ? "(" + (percentDone | number: "2.1-2") + "%)" : ""
        }}</span
      ></label
    >
  </div>
</div>
