<div class="pop-up-holder {{ theme.currentTheme | async }}">
  <div
    class="alerts"
    *ngFor="let alert of popup.alerts | async"
    [title]="alert.message"
    [@simpleFadeAnimation]="'in'"
  >
    {{ alert.message }}
  </div>
  <div
    class="confirms"
    *ngFor="let confirm of popup.confirms | async"
    [title]="confirm.message"
    [@simpleFadeAnimation]="'in'"
  >
    <p>
      {{ confirm.message }}
    </p>
    <button (click)="confirm.onDelete(true)">Accept</button
    ><button (click)="confirm.onDelete(false)">Cancel</button>
  </div>
  <div
    class="input"
    *ngFor="let input of popup.inputs | async"
    [title]="input.message"
    [@simpleFadeAnimation]="'in'"
  >
    {{ input.message }}
    <input type="text" />
  </div>
  <div
    class="errors"
    *ngFor="let error of popup.errors | async"
    [title]="error.message"
    [@simpleFadeAnimation]="'in'"
  >
    ERROR: {{ error.message }}
  </div>
</div>
