<div class="page">
  <div class="top">
    <div class="back">
      <svg
        width="25"
        height="25"
        xmlns="http://www.w3.org/2000/svg"
        stroke-width="4"
        stroke-linecap="round"
        [routerLink]="['/home']"
      >
        <line x1="40%" y1="10%" x2="10%" y2="50%" />
        <line x1="10%" y1="50%" x2="40%" y2="90%" />
        <line x1="10%" y1="50%" x2="90%" y2="50%" />
      </svg>
    </div>
    <h1>Store</h1>
    <div class="blank"></div>
  </div>
  <div class="store">
    <div class="scroll-view">
      <div class="filter-bar">
        <div class="sorting">
          Order:
          <select [(ngModel)]="sorting" (change)="sort()">
            <option value="pop">Popular</option>
            <option value="low">Lowest Rated</option>
            <option value="high">Highest Rated</option>
          </select>
        </div>
        <div class="search">
          <input
            #searchInput
            type="text"
            placeholder="search"
            [(ngModel)]="searchQuery"
            (change)="search()"
          />
          <svg width="24" height="24">
            <circle
              cx="10"
              cy="10"
              r="6"
              stroke-width="2"
              fill="transparent"
            ></circle>
            <line x1="14" y1="14" x2="20" y2="20" stroke-width="2"></line>
          </svg>
        </div>
      </div>
      <div class="apps">
        <div
          *ngFor="let app of queriedApps; let i = index"
          class="app"
          (click)="goto(app.data().id)"
          (mouseenter)="hoverApps[i] = true"
          (mouseleave)="hoverApps[i] = false"
        >
          <div class="imgs">
            <img
              [src]="app.data().images[0]"
              alt="App Image"
              width="96"
              height="75"
            />
          </div>
          <div class="info">
            <h3>{{ app.data().title }}</h3>
            <p>{{ app.data().desc }}</p>
            <div class="bottom">
              <cuik-star-view
                [hovColor]="hoverApps[i]"
                [stars]="app.data().rating.stars"
              ></cuik-star-view>
              <div class="actions">
                <div
                  *ngIf="!apptray.userHasApp(app.data().id)"
                  class="install"
                  (click)="install(app.data().id)"
                >
                  Install
                </div>
                <div class="go" (click)="run(app.data().urls)">GO</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="app-view">
      <cuik-app-view (rate)="rate($event)"></cuik-app-view>
    </div>
  </div>
</div>
