@use '../../theme' as theme;

.block {
  width: 220px;
  height: 400px;
  border: 2px solid theme.$primary;
  border-radius: 20px 8px 8px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  background-color: theme.$secondary;

  @include theme.custom-scroll(
    5px,
    theme.$primary,
    10px,
    none,
    theme.$secondary,
    auto
  );
  p {
    cursor: default;
    user-select: none;
  }
  .add-url {
    display: flex;
    align-items: center;
    gap: 5px;
    .add-btn {
      width: fit-content;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: stroke 200ms ease;
      stroke: theme.$primary;

      &:hover {
        stroke: theme.$tertiary;
      }
    }
  }
  .remove-url {
    display: flex;
    align-items: center;
    gap: 5px;
    .remove-btn {
      width: fit-content;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: stroke 200ms ease;
      stroke: theme.$primary;

      &:hover {
        stroke: theme.$tertiary;
      }
    }
  }

  input {
    border: none;
    border-bottom: 2px solid theme.$tertiary;
    background-color: theme.$secondary;
    &:focus {
      outline: none;
    }
  }
}
