<div class="loaded" *ngIf="appData">
  <div class="title-bar">
    <div class="imgs">
      <img [src]="appData.images[0]" alt="App Image" width="96" height="75" />
    </div>
    <h1>{{ appData.title }}</h1>
    <div class="imgs"></div>
  </div>
  <div class="display">
    <div class="update">Last updated: {{ appData.update }}</div>
    <div class="creation">Created on: {{ appData.creation }}</div>
    <p class="desc">{{ appData.desc }}</p>
    <div class="rating">Rating: {{ appData.rating.stars }} stars</div>
    <div class="ratings">
      Number of Ratings: {{ appData.rating.numberOfReviews }}
    </div>
    <div class="owner">
      <img
        [src]="ownerProfile.profilePic"
        alt="Profile Pic"
        width="20"
        height="20"
      />
      <p>{{ ownerProfile.name }}</p>
    </div>
    <div class="downloads">Downloads: {{ appData.downloads }}</div>
    <div class="urls">
      Urls:
      <ul>
        <li *ngFor="let url of appData.urls">{{ url }}</li>
      </ul>
    </div>
    <div class="rate" *ngIf="apptray.userHasApp(appData.id)">
      Rate:
      <div class="stars">
        <div class="bar" [ngStyle]="{ width: 20 * stars + 'px' }"></div>
        <svg
          (mouseenter)="stars = 1"
          (click)="rate.emit({ id: appData.id, stars: stars })"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="transparent"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0)">
            <rect width="20" height="20" fill="transparent" />
            <path
              d="M13.6101 -0.722634L10 -8.2881L6.38994 -0.722634L4.44474 3.35384L-0.0333175 3.94414L-8.34407 5.03965L-2.26446 10.8109L1.0114 13.9206L0.189009 18.3619L-1.33726 26.6044L6.03021 22.6058L10 20.4512L13.9698 22.6058L21.3373 26.6044L19.811 18.3619L18.9886 13.9206L22.2645 10.8109L28.3441 5.03965L20.0333 3.94414L15.5553 3.35384L13.6101 -0.722634Z"
              stroke="#e7e7de"
              stroke-width="8"
            />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="20" height="20" fill="transparent" />
            </clipPath>
          </defs>
        </svg>
        <svg
          (mouseenter)="stars = 2"
          (click)="rate.emit({ id: appData.id, stars: stars })"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="transparent"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0)">
            <rect width="20" height="20" fill="transparent" />
            <path
              d="M13.6101 -0.722634L10 -8.2881L6.38994 -0.722634L4.44474 3.35384L-0.0333175 3.94414L-8.34407 5.03965L-2.26446 10.8109L1.0114 13.9206L0.189009 18.3619L-1.33726 26.6044L6.03021 22.6058L10 20.4512L13.9698 22.6058L21.3373 26.6044L19.811 18.3619L18.9886 13.9206L22.2645 10.8109L28.3441 5.03965L20.0333 3.94414L15.5553 3.35384L13.6101 -0.722634Z"
              stroke="#e7e7de"
              stroke-width="8"
            />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="20" height="20" fill="transparent" />
            </clipPath>
          </defs>
        </svg>
        <svg
          (mouseenter)="stars = 3"
          (click)="rate.emit({ id: appData.id, stars: stars })"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="transparent"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0)">
            <rect width="20" height="20" fill="transparent" />
            <path
              d="M13.6101 -0.722634L10 -8.2881L6.38994 -0.722634L4.44474 3.35384L-0.0333175 3.94414L-8.34407 5.03965L-2.26446 10.8109L1.0114 13.9206L0.189009 18.3619L-1.33726 26.6044L6.03021 22.6058L10 20.4512L13.9698 22.6058L21.3373 26.6044L19.811 18.3619L18.9886 13.9206L22.2645 10.8109L28.3441 5.03965L20.0333 3.94414L15.5553 3.35384L13.6101 -0.722634Z"
              stroke="#e7e7de"
              stroke-width="8"
            />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="20" height="20" fill="transparent" />
            </clipPath>
          </defs>
        </svg>
        <svg
          (mouseenter)="stars = 4"
          (click)="rate.emit({ id: appData.id, stars: stars })"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="transparent"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0)">
            <rect width="20" height="20" fill="transparent" />
            <path
              d="M13.6101 -0.722634L10 -8.2881L6.38994 -0.722634L4.44474 3.35384L-0.0333175 3.94414L-8.34407 5.03965L-2.26446 10.8109L1.0114 13.9206L0.189009 18.3619L-1.33726 26.6044L6.03021 22.6058L10 20.4512L13.9698 22.6058L21.3373 26.6044L19.811 18.3619L18.9886 13.9206L22.2645 10.8109L28.3441 5.03965L20.0333 3.94414L15.5553 3.35384L13.6101 -0.722634Z"
              stroke="#e7e7de"
              stroke-width="8"
            />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="20" height="20" fill="transparent" />
            </clipPath>
          </defs>
        </svg>
        <svg
          (mouseenter)="stars = 5"
          (click)="rate.emit({ id: appData.id, stars: stars })"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="transparent"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0)">
            <rect width="20" height="20" fill="transparent" />
            <path
              d="M13.6101 -0.722634L10 -8.2881L6.38994 -0.722634L4.44474 3.35384L-0.0333175 3.94414L-8.34407 5.03965L-2.26446 10.8109L1.0114 13.9206L0.189009 18.3619L-1.33726 26.6044L6.03021 22.6058L10 20.4512L13.9698 22.6058L21.3373 26.6044L19.811 18.3619L18.9886 13.9206L22.2645 10.8109L28.3441 5.03965L20.0333 3.94414L15.5553 3.35384L13.6101 -0.722634Z"
              stroke="#e7e7de"
              stroke-width="8"
            />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="20" height="20" fill="transparent" />
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <div class="goto" (click)="run()">GO</div>
    <div class="link" (click)="copyLink()">Get Link</div>
  </div>
</div>
