$primary: #0f3057;
$secondary: #e7e7de;
$tertiary: #00587a;
$accent: #008891;
$danger: #8b0000;
$kelly: #4cbb17;

@mixin theme-setup {
  .Dark {
    --primary: 32, 32, 32;
    --secondary: 173, 173, 173;
    --tertiary: 56, 56, 56;
    --accent: 79, 79, 79;
    --danger: 167, 40, 40;
  }
  .Default {
    --primary: 15, 48, 87;
    --secondary: 231, 231, 222;
    --tertiary: 0, 88, 122;
    --accent: 0, 136, 145;
    --danger: 167, 40, 40;
  }
  .Light {
    --primary: 73, 73, 73;
    --secondary: 238, 240, 240;
    --tertiary: 146, 146, 146;
    --accent: 155, 155, 155;
    --danger: 167, 40, 40;
  }
}

@mixin background-blur($blur, $shadow: true) {
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);

  @if ($shadow) {
    box-shadow: 0px 0px 15px 2px rgb(var(--primary));
  }
}

@mixin mat-button() {
  width: 25px;
  height: 25px;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #{"rgba(var(--accent), 0.3)"};
  }

  stop {
    stop-color: rgb(var(--primary));
  }
}

@mixin custom-scroll($width, $horizontal: false, $margin-top-bottom: 0px) {
  scrollbar-color: rbg(var(--secondary)) #{"rgba(var(--secondary), 0.6)"};
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    @if $horizontal {
      height: $width;
    } @else {
      width: $width;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: #{"rgba(var(--secondary), 0.3)"};
    border-radius: 5px;
    @if $horizontal {
      margin-left: $margin-top-bottom;
      margin-right: $margin-top-bottom;
    } @else {
      margin-top: $margin-top-bottom;
      margin-bottom: $margin-top-bottom;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: #{"rgba(var(--accent), 0.6)"};
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}
