$primary: #0f3057;
$secondary: #e7e7de;
$tertiary: #00587a;
$accent: #008891;
$danger: #8b0000;

@mixin theme-setup {
  .Dark {
    --primary: 32, 32, 32;
    --secondary: 173, 173, 173;
    --tertiary: 56, 56, 56;
    --accent: 79, 79, 79;
    --danger: 167, 40, 40;
  }
  .Default {
    --primary: 15, 48, 87;
    --secondary: 231, 231, 222;
    --tertiary: 0, 88, 122;
    --accent: 0, 136, 145;
    --danger: 167, 40, 40;
  }
  .Light {
    --primary: 238, 240, 240;
    --secondary: 73, 73, 73;
    --tertiary: 155, 155, 155;
    --accent: 146, 146, 146;
    --danger: 167, 40, 40;
  }
}
