<div class="bar open {{ barOpen }}">
  <div class="app" title="Search" (click)="openSearch()">
    <svg
      width="82"
      height="82"
      viewBox="0 0 82 82"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M80.1812 72.6761C68.025 63.1341 60.307 58.5285 52.556 45.3509C50.1843 48.92 48.478 50.5357 44.6752 52.6137C61.3981 63.8299 63.177 70.3763 72.2671 80.8796L77.1594 77.281L80.1812 72.6761Z"
        fill="url(#paint0_radial)"
        stroke-linejoin="bevel"
      />
      <path
        d="M54.9999 27.9999C55.0201 7.33963 49.4079 1.09828 28 1V6.68424C44.9873 6.72254 49.3218 11.7382 49.3157 28L54.9999 27.9999Z"
        fill="url(#paint1_linear)"
      />
      <path
        d="M27.9999 1.00005C7.33963 0.979944 1.09828 6.59206 1 28H6.68424C6.72254 11.0127 11.7382 6.67822 28 6.68425L27.9999 1.00005Z"
        fill="url(#paint2_linear)"
      />
      <path
        d="M1.00005 28.0001C0.979944 48.6604 6.59206 54.9017 28 55V49.3158C11.0127 49.2775 6.67822 44.2618 6.68425 28L1.00005 28.0001Z"
        fill="url(#paint3_linear)"
      />
      <path
        d="M28.0001 54.9999C48.6604 55.0201 54.9017 49.4079 55 28H49.3158C49.2775 44.9873 44.2618 49.3218 28 49.3157L28.0001 54.9999Z"
        fill="url(#paint4_linear)"
      />
      <defs>
        <radialGradient
          id="paint0_radial"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(62.608 64.2994) rotate(59.6134) scale(16.4372 16.9798)"
        >
          <stop stop-opacity="0.84" />
          <stop offset="1" stop-opacity="0.73" />
        </radialGradient>
        <linearGradient
          id="paint1_linear"
          x1="41.5"
          y1="1.94737"
          x2="52.6315"
          y2="26.5789"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-opacity="0.93" />
          <stop offset="1" stop-opacity="0.71" />
        </linearGradient>
        <linearGradient
          id="paint2_linear"
          x1="1.94737"
          y1="14.5"
          x2="26.5789"
          y2="3.36847"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-opacity="0.93" />
          <stop offset="1" stop-opacity="0.71" />
        </linearGradient>
        <linearGradient
          id="paint3_linear"
          x1="14.5"
          y1="54.0526"
          x2="3.36847"
          y2="29.4211"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-opacity="0.93" />
          <stop offset="1" stop-opacity="0.71" />
        </linearGradient>
        <linearGradient
          id="paint4_linear"
          x1="54.0526"
          y1="41.5"
          x2="29.4211"
          y2="52.6315"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-opacity="0.93" />
          <stop offset="1" stop-opacity="0.71" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="app" title="Mail" (click)="openMail()">
    <svg
      width="80"
      height="40"
      viewBox="0 0 80 40"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="0.5"
        y="0.5"
        width="79"
        height="39"
        rx="1.5"
        fill="url(#paint6_linear)"
        stroke="#0F3057"
      />
      <path
        d="M1 1H79V4L71.5 4.07692L40 17L8.3125 4H1V1Z"
        fill="url(#paint1_linear)"
      />
      <path
        d="M1 1H79M1 1L8.3125 4M1 1V4H8.3125M79 1V4L71.5 4.07692M79 1L71.5 4.07692M8.3125 4L40 17L71.5 4.07692"
        stroke="#0F3057"
        stroke-linejoin="bevel"
      />
      <defs>
        <linearGradient
          id="paint6_linear"
          x1="16"
          y1="9"
          x2="73"
          y2="37"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#00587A" stop-opacity="0.97" />
          <stop offset="0.555783" stop-color="#00587A" stop-opacity="0.73" />
          <stop offset="1" stop-color="#00587A" stop-opacity="0.91" />
        </linearGradient>
        <linearGradient
          id="paint1_linear"
          x1="32"
          y1="5.5"
          x2="55"
          y2="19"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#0F3057" stop-opacity="0.57" />
          <stop offset="1" stop-color="#0F3057" stop-opacity="0.38" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="app" title="Favorites" (click)="openFavorites()">
    <svg
      width="71"
      height="67"
      viewBox="0 0 71 67"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M35.0531 1.00512C35.2376 0.637486 35.7624 0.637483 35.9469 1.00512L45.9523 20.9412C46.1706 21.3762 46.5863 21.6782 47.0673 21.7514L69.1196 25.1065C69.5262 25.1683 69.6884 25.6674 69.3957 25.9565L53.5272 41.6328C53.181 41.9748 53.0223 42.4634 53.1013 42.9436L56.7249 64.9533C56.7917 65.3592 56.3672 65.6676 56.0018 65.4786L36.1891 55.231C35.7569 55.0075 35.2431 55.0075 34.8109 55.231L14.9982 65.4786C14.6328 65.6676 14.2083 65.3592 14.2751 64.9533L17.8987 42.9436C17.9778 42.4634 17.819 41.9748 17.4728 41.6328L1.60427 25.9565C1.31164 25.6674 1.4738 25.1683 1.88045 25.1065L23.9327 21.7514C24.4138 21.6782 24.8294 21.3762 25.0477 20.9412L35.0531 1.00512L34.6153 0.785406L35.0531 1.00512Z"
        fill="url(#paint6_linear)"
        stroke="#0F3057"
      />
      <defs>
        <linearGradient
          id="paint0_linear"
          x1="14"
          y1="14.5"
          x2="57"
          y2="66"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#00587A" stop-opacity="0.81" />
          <stop offset="0.0001" stop-color="#00587A" stop-opacity="0.91" />
          <stop offset="0.331249" stop-color="#00587A" stop-opacity="0.96" />
          <stop offset="0.690624" stop-color="#00587A" stop-opacity="0.52" />
          <stop offset="1" stop-color="#00587A" stop-opacity="0.73" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="app" title="Store" (click)="openStore()">
    <svg
      width="76"
      height="63"
      viewBox="0 0 76 63"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M19 47L15 12H75L71 47H19Z"
        fill="url(#paint0_radial)"
        stroke="#0F3057"
      />
      <circle
        cx="27"
        cy="57.5"
        r="4.5"
        fill="url(#paint1_linear)"
        stroke="#0F3057"
      />
      <circle
        cx="62"
        cy="57.5"
        r="4.5"
        fill="url(#paint2_linear)"
        stroke="#0F3057"
      />
      <path
        d="M13 1L15 12L19.5 50.5H64C65.9284 50.6365 66.4514 56.4498 66.4968 56.9663C66.4987 56.9826 66.4997 56.994 66.5 57C66.5005 57.0089 66.4995 56.9969 66.4968 56.9663C66.4491 56.5543 65.8477 53 62 53H17.5L12.5 12L11 3H1V1H13Z"
        fill="url(#paint3_radial)"
        stroke="#0F3057"
      />
      <defs>
        <radialGradient
          id="paint0_radial"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(29.5 37.5) rotate(-14.5345) scale(41.839 71.724)"
        >
          <stop stop-color="#00587A" stop-opacity="0.97" />
          <stop offset="1" stop-color="#00587A" stop-opacity="0.79" />
        </radialGradient>
        <linearGradient
          id="paint1_linear"
          x1="24.5"
          y1="55"
          x2="27"
          y2="62.5"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#00587A" stop-opacity="0.92" />
          <stop offset="0.711458" stop-color="#00587A" stop-opacity="0.67" />
          <stop offset="0.978763" stop-color="#00587A" stop-opacity="0.89" />
        </linearGradient>
        <linearGradient
          id="paint2_linear"
          x1="59.5"
          y1="55"
          x2="62"
          y2="62.5"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#00587A" stop-opacity="0.92" />
          <stop offset="0.711458" stop-color="#00587A" stop-opacity="0.67" />
          <stop offset="0.978763" stop-color="#00587A" stop-opacity="0.89" />
        </linearGradient>
        <radialGradient
          id="paint3_radial"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(15 15) rotate(41.4965) scale(69.4262 82.6803)"
        >
          <stop stop-color="#00587A" stop-opacity="0.92" />
          <stop offset="0.628124" stop-color="#00587A" stop-opacity="0.66" />
          <stop offset="1" stop-color="#00587A" stop-opacity="0.91" />
        </radialGradient>
      </defs>
    </svg>
  </div>
  <div class="app" title="File Explorer" (click)="openFileExplorer()">
    <svg
      width="73"
      height="52"
      viewBox="0 0 73 52"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M20 4.40196H72V51H1V10.6471V2H20V4.40196Z"
        fill="url(#paint6_linear)"
      />
      <path
        d="M20 4.40196H72V51H1V10.6471M20 4.40196L16.5 10.6471H1M20 4.40196V2H1V10.6471"
        stroke="#0F3057"
        stroke-linejoin="round"
      />
      <path
        d="M20 3.5V1H1V10H16.5L20 3.5Z"
        fill-opacity="0.64"
        stroke="#0F3057"
        stroke-linejoin="round"
      />
      <defs>
        <linearGradient
          id="paint6_linear"
          x1="8.5"
          y1="5.36274"
          x2="64.332"
          y2="48.8195"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#00587A" />
          <stop offset="0.274936" stop-color="#00587A" stop-opacity="0.7" />
          <stop offset="0.705368" stop-color="#00587A" stop-opacity="0.86" />
          <stop offset="1" stop-color="#00587A" stop-opacity="0.78" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="app" title="Trash" (click)="openTrash()">
    <svg
      width="59"
      height="72"
      viewBox="0 0 59 72"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M8.5 70L1 5.5L11 2H49.5L58.5 5.5L52 70L47.5 71H13L8.5 70Z"
        fill="url(#paint6_linear)"
      />
      <path
        d="M58.5 5.5L49.5 13M58.5 5.5L52 70L47.5 71M58.5 5.5L49.5 2H11L1 5.5M49.5 13H11M49.5 13L47.5 71M11 13L1 5.5M11 13L13 71M1 5.5L8.5 70L13 71M47.5 71H13"
        stroke="#0F3057"
        stroke-linejoin="round"
      />
      <path
        d="M11 12.5L1 5L8.5 69.5L13 70.5L11 12.5Z"
        fill="url(#paint1_linear)"
      />
      <path
        d="M58.5 5L49.5 12.5L47.5 70.5L52 69.5L58.5 5Z"
        fill="url(#paint2_linear)"
      />
      <path
        d="M11 12.5L1 5L8.5 69.5L13 70.5L11 12.5Z"
        stroke="#0F3057"
        stroke-linejoin="round"
      />
      <path
        d="M58.5 5L49.5 12.5L47.5 70.5L52 69.5L58.5 5Z"
        stroke="#0F3057"
        stroke-linejoin="round"
      />
      <path
        d="M11 12L1 4.5L11 1H49.5L58.5 4.5L49.5 12H11Z"
        fill="url(#paint3_radial)"
        stroke="#0F3057"
        stroke-linejoin="round"
      />
      <defs>
        <linearGradient
          id="paint6_linear"
          x1="29.5"
          y1="2"
          x2="29.5"
          y2="71"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#0F3057" stop-opacity="0.79" />
          <stop offset="0.373056" stop-color="#00587A" stop-opacity="0.86" />
          <stop offset="0.69897" stop-color="#00587A" stop-opacity="0.99" />
          <stop offset="1" stop-color="#00587A" stop-opacity="0.71" />
        </linearGradient>
        <linearGradient
          id="paint1_linear"
          x1="29.5"
          y1="68"
          x2="29.5"
          y2="15.5"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#00587A" stop-opacity="0.82" />
          <stop offset="0.276319" stop-color="#00587A" stop-opacity="0.84" />
          <stop offset="0.60059" stop-color="#00587A" stop-opacity="0.52" />
          <stop offset="0.817291" stop-color="#00587A" stop-opacity="0.18" />
          <stop offset="1" stop-color="#00587A" stop-opacity="0.79" />
        </linearGradient>
        <linearGradient
          id="paint2_linear"
          x1="29.5"
          y1="68"
          x2="29.5"
          y2="15.5"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#00587A" stop-opacity="0.82" />
          <stop offset="0.276319" stop-color="#00587A" stop-opacity="0.84" />
          <stop offset="0.60059" stop-color="#00587A" stop-opacity="0.52" />
          <stop offset="0.817291" stop-color="#00587A" stop-opacity="0.18" />
          <stop offset="1" stop-color="#00587A" stop-opacity="0.79" />
        </linearGradient>
        <radialGradient
          id="paint3_radial"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(29.5 14) rotate(90) scale(7.5 39.2045)"
        >
          <stop stop-color="#0F3057" stop-opacity="0.69" />
          <stop offset="1" stop-color="#0F3057" stop-opacity="0.29" />
        </radialGradient>
      </defs>
    </svg>
  </div>
  <div class="split"></div>
  <ng-container *ngFor="let app of apps">
    <app-task [app]="app"></app-task>
  </ng-container>
  <div class="overflow" (click)="openTaskMenu()">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</div>
