@use '../../theme' as theme;

.panel {
  display: flex;
  flex-direction: column;
  width: 66px;
  height: calc(100vh - 66px);
  background-color: theme.$tertiary;

  button {
    border: none;
    width: 66px;
    height: 66px;
    background-color: transparent;
    transition: background-color 0.2s linear;

    &[title="Store"] svg > circle {
      transition: fill 0.2s linear;
      fill: theme.$tertiary;
    }
    &[title="Plus"] svg {
      stroke: theme.$secondary;
      stroke-width: 5px;
      stroke-linecap: round;
    }

    &:hover {
      background-color: theme.$accent;
      &[title="Store"] svg > circle {
        fill: theme.$accent;
      }
    }
  }

  .active {
    background-color: theme.$accent;
    &[title="Store"] svg > circle {
      fill: theme.$accent;
    }
  }
}
@media screen and (max-width: 775px) {
  .panel {
    display: none;
  }
}
