<div
  class="folder {{ selected ? 'selected' : '' }}"
  (dblclick)="openFolder.emit(props.folderName)"
  (click)="
    $event.ctrlKey
      ? selectFolder.emit(props.folderName + '/')
      : $event.preventDefault()
  "
>
  <svg
    width="17"
    height="17"
    viewBox="0 0 73 52"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M20 4.40196H72V51H1V10.6471V2H20V4.40196Z"
      fill="url(#paint6_linear)"
    />
    <path
      d="M20 4.40196H72V51H1V10.6471M20 4.40196L16.5 10.6471H1M20 4.40196V2H1V10.6471"
      stroke="#0F3057"
      stroke-linejoin="round"
    />
    <path
      d="M20 3.5V1H1V10H16.5L20 3.5Z"
      fill-opacity="0.64"
      stroke="#0F3057"
      stroke-linejoin="round"
    />
    <defs>
      <linearGradient
        id="paint6_linear"
        x1="8.5"
        y1="5.36274"
        x2="64.332"
        y2="48.8195"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#00587A" />
        <stop offset="0.274936" stop-color="#00587A" stop-opacity="0.7" />
        <stop offset="0.705368" stop-color="#00587A" stop-opacity="0.86" />
        <stop offset="1" stop-color="#00587A" stop-opacity="0.78" />
      </linearGradient>
    </defs>
  </svg>
  <input
    *ngIf="rename"
    (keyup.enter)="
      renameFolder.emit({ oldName: props.folderName, newName: this.newName })
    "
    type="text"
    [(ngModel)]="newName"
  />

  <svg
    *ngIf="rename"
    (click)="cancel.emit()"
    width="15px"
    height="15px"
    viewBox="0 0 20 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line
      x1="2"
      y1="17.5564"
      x2="17.5563"
      y2="2.00007"
      stroke="#A72828"
      stroke-opacity="0.93"
      stroke-width="3"
      stroke-linecap="round"
    />
    <line
      x1="2.12132"
      y1="2"
      x2="17.6777"
      y2="17.5563"
      stroke="#A72828"
      stroke-opacity="0.93"
      stroke-width="3"
      stroke-linecap="round"
    />
  </svg>

  <p *ngIf="!rename">{{ props.folderName }}</p>
</div>
