<header>
  <img
    src="../../../assets/cuiksuite.png"
    alt="Logo"
    height="66"
    class="logo"
    (click)="openSite()"
  />
  <h1>Welcome {{ authService.DisplayName }}</h1>
  <div class="search">
    <input
      #searchInput
      type="text"
      placeholder="search"
      (change)="search(searchInput.value)"
    />
    <svg
      width="24"
      height="24"
      stroke="#0f3057"
      (click)="search(searchInput.value)"
    >
      <circle
        cx="10"
        cy="10"
        r="6"
        stroke-width="2"
        fill="transparent"
      ></circle>
      <line x1="14" y1="14" x2="20" y2="20" stroke-width="2"></line>
    </svg>
  </div>
  <div class="controls">
    <div class="mail" (click)="openMail()"><h3>Mail</h3></div>
    <div class="profile">
      <img
        [src]="authService.PhotoURL || '../../../assets/account.png'"
        alt="Profile Image"
        width="50"
        height="50"
        (click)="state.accountToggle = !state.accountToggle"
      />
      <div class="account-panel" *ngIf="state.accountToggle">
        <ul>
          <li class="dash" (click)="goToDash()">
            <span>Dashboard</span>
          </li>
          <li class="sign-out" (click)="signOut.emit()">
            <span>Log out</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
