<div class="wrapper">
  <div class="panel">
    <div class="exit" (click)="closeCreate.emit()">
      <svg
        version="1.0"
        xmlns="http://www.w3.org/2000/svg"
        width="25px"
        height="25px"
        class="x-close-btn"
      >
        <line x1="5" y1="5" x2="19" y2="19"></line>
        <line x1="5" y1="19" x2="19" y2="5"></line>
      </svg>
    </div>
    <h2>Create App</h2>
    <cuik-input
      placeHolder="Title"
      [toolTip]="'The title of your app.'"
      (cuikKeyup)="setTitle($event)"
    ></cuik-input>
    <label
      for="desc"
      cuikToolTip
      [tooltip]="
        'This is the description for your app that will show in the info.'
      "
    >
      <textarea
        id="desc"
        placeholder="Description"
        cols="60"
        rows="15"
        [(ngModel)]="createdApp.desc"
      ></textarea>
    </label>
    <label class="checkbox">
      <span class="radio__label"
        >Make your app publicly visible to everyone in the store.</span
      >
      <span class="checkbox__input">
        <input
          type="checkbox"
          name="checked"
          checked
          [(ngModel)]="createdApp.public"
        />
        <span class="checkbox__control">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            aria-hidden="true"
            focusable="false"
          >
            <path
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              d="M1.73 12.91l6.37 6.37L22.79 4.59"
            />
          </svg>
        </span>
      </span>
    </label>

    <div class="urls" (click)="state.urlToggle = !state.urlToggle">
      Add Urls
    </div>
    <div
      class="images"
      (click)="state.imgUploadToggle = !state.imgUploadToggle"
    >
      Add Images (You can have up to 4)
    </div>

    <div class="submit" (click)="submit()">Create</div>
  </div>
  <cuik-url-box
    (urlsEvent)="setUrls($event)"
    [hidden]="!state.urlToggle"
  ></cuik-url-box>
  <cuik-img-upload
    (files)="setTempImages($event)"
    [hidden]="!state.imgUploadToggle"
  ></cuik-img-upload>
</div>
