@use '../../theme' as theme;

.block {
  width: 100px;
  height: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  font-family: theme.$Poppins;
  color: theme.$primary;
  font-size: small;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  &.selected-first {
    border: 2px solid theme.$primary;
    border-radius: 0;
  }
  &.selected-second {
    border: 2px solid theme.$tertiary;
    border-radius: 0;
  }

  .imgs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    img {
      border-radius: 25%;
      transition: all 200ms ease;
    }

    div {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 10px;
      right: 10px;
      border-radius: 5px;
    }
    .edit {
      background-color: theme.$honey;
    }
    .del {
      background-color: lighten(theme.$danger, 10%);
    }
    .move {
      background-color: theme.$kelly;
    }
  }
  &:hover {
    .imgs img {
      border-radius: 30%;
    }
  }
  p{
    word-wrap: break-word;
    word-break: break-all;
  }
}
