<div class="block">
  <div class="bar">
    {{ appData.title }}
    <div
      class="edit"
      (click)="editApp()"
      *ngIf="state.activeControl == 'edit'"
    ></div>
    <div
      class="del"
      (click)="removeApp()"
      *ngIf="state.activeControl == 'trash-can'"
    ></div>
    <div class="move" *ngIf="state.activeControl == 'move'"></div>
  </div>
  <div class="imgs" (click)="open()">
    <ng-container *ngIf="hasMultipleImages()">
      <img
        [src]="img"
        *ngFor="let img of appData.images"
        alt="App Image"
        class="mult-img"
      />
    </ng-container>
    <ng-container *ngIf="!hasMultipleImages()">
      <img
        style="border-radius: 0px 0px 19px 19px"
        [src]="appData.images[0]"
        alt="App Image"
        width="96"
        height="75"
      />
    </ng-container>
  </div>
</div>
