@use './app/theme' as theme;

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  background-color: theme.$primary;
}
.tooltip {
  position: absolute;
  background-color: theme.$primary;
  width: fit-content;
  height: fit-content;
  max-width: 300px;

  color: theme.$secondary;
  border-radius: 15px 15px 15px 0px;
  padding: 5px;
  left: 50%;
  transform: translate(-50%, -100%);
}
