/* You can add global styles to this file, and also import other style files */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--poppins);

  &::selection {
    background-color: #0f3057;
    color: #e7e7de;
  }
}

html,
body {
  background-color: #e7e7de;
  height: 100%;
  width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  --poppins: "Poppins", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --roboto: "Roboto Condensed", sans-serif;
}
