<div class="wrapper">
  <div class="panel">
    <div class="exit" (click)="closeTab.emit()">
      <svg
        version="1.0"
        xmlns="http://www.w3.org/2000/svg"
        width="25px"
        height="25px"
        class="x-close-btn"
      >
        <line x1="5" y1="5" x2="19" y2="19"></line>
        <line x1="5" y1="19" x2="19" y2="5"></line>
      </svg>
    </div>
    <h2>Viewing: {{ activeApp.title }}</h2>
    <p>Description: {{ activeApp.desc }}</p>
    <br />
    <h4>Publicly Available: {{ activeApp.public | yesNo }}</h4>

    <h4>Urls:</h4>
    <ul data-urls>
      <li *ngFor="let url of activeApp.urls">{{ url }}</li>
    </ul>

    <h4>Images:</h4>
    <ul data-images>
      <li *ngFor="let img of activeApp.images">
        <img [src]="img" alt="App Image" width="100" height="100" />
      </li>
    </ul>

    <h4>Owner of App:</h4>
    <div class="owner">
      <img
        [src]="ownerData ? ownerData.photoURL : ''"
        alt="Profile Image"
        width="20"
        height="20"
      />
      <h4>{{ ownerData ? ownerData.displayName : "Owner Not Found" }}</h4>
    </div>

    <div class="rating">
      Number of Reviews: {{ activeApp.rating.numberOfReviews }}
      <br />
      Stars: {{ activeApp.rating.stars }}
    </div>
    <br />
  </div>
</div>
