@use '../../theme' as theme;

.wrapper {
  height: 80vh;
  width: 500px;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  background-color: theme.$secondary;
  border: 2px solid theme.$primary;
  border-radius: 20px 0px 0px 20px;
  color: theme.$primary;
  font-family: theme.$Poppins;
  overflow-x: visible;
}
.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  height: inherit;
  overflow-y: auto;
  padding: 5px 0px;

  @include theme.custom-scroll(
    20px,
    theme.$primary,
    10px,
    none,
    theme.$secondary,
    auto
  );

  .exit {
    position: absolute;
    top: 4px;
    right: 4px;
    @include theme.close-button;
  }

  p {
    width: 80%;
    height: 200px;
    overflow: auto;
  }

  ul[data-urls] {
    margin: none;
    align-self: flex-start;
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: none;

    li {
      margin: 5px 0px;
      list-style: none;
      text-indent: 10px;
    }
  }

  ul[data-images] {
    margin: none;
    align-self: flex-start;
    display: flex;
    height: 250px;
    max-height: 250px;
    min-height: 250px;
    overflow-x: auto;

    li {
      list-style: none;
    }
  }

  .owner {
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
      border-radius: 50%;
    }
    h4 {
      margin: none;
    }
  }
}
